@tailwind base;
@tailwind components;
@tailwind utilities;

/*Reset das configuracoes padroes do site*/
* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*Ubuntu Regular*/
@font-face {

  font-family: "ubuntuRegular";
  src: url("./src/fonts/ubuntu/Ubuntu-Regular.ttf");
}
/*Ubuntu Medium*/
@font-face {

  font-family: "ubuntuMedium";
  src: url("./src/fonts/ubuntu/Ubuntu-Medium.ttf");
}

body {

  background-color: #171717;
  font-family: "ubuntuRegular";
  overflow: hidden;
  height: 100vh;
}

/*Remover as setas do input de tipo numero*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
